body {
    width: 100%;
    height: 100vh;
    margin: 0%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
}

.sidebar {
    width: 15%;
    height: 100%;
    background-color: #1E1E1E;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
}

.main {
    flex-grow: 1;
    font-family: Arial, sans-serif;
    height: 100%;
    margin-left: 15%;
    display: block;
    background-color: black;
}

.logo img {
    width: 80px;
    height: auto;
    margin-bottom: 40px;
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu li {
    width: 100%;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #333;
}

.settings {
    margin-top: auto;
    margin-bottom: 20px;
    width: 100%;
}

.settings a {
    display: block;
    padding: 15px 20px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.settings a:hover {
    background-color: #333;
}


.top_bar {
    height: 15%;
    padding-left: 2%;
    font-size: large;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
}

.top_bar h1 {
    width: fit-content;
    height: fit-content;
    color: white;
}

#search_box {
    width: 60%;
    height: 30%;
    margin-top: 0;
    margin-right: 0;
    color: white;
    background-color: black;
    background-image: url('./src/search-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#gas_button {
    width: 5%;
    height: 30%;
    margin-top: 5%;
    margin-left: 0%;
    border: black;
    background-color: black;
    cursor: pointer;
}

#gas_popup {
    display: none;
    position: fixed;
    width: 250px;
    padding: 20px;
    color: white;
    background-color: #262525;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.fee_tb {
    width: 100%;
    margin-top: 2%;
    margin-left: 5%;
    color: white;
    font-size: small;
}


#gas_close_button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(53, 184, 220);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#note_button {
    width: 5%;
    height: 30%;
    margin-top: 0;
    margin-left: 0;
    border: black;
    background-color: black;
    cursor: pointer;
}

#note_popup {
    display: none;
    overflow: auto;
    position: fixed;
    width: 400px;
    height: 400px;
    padding: 20px;
    color: white;
    background-color: #262525;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.note_body {
    overflow: auto;
    height: 800px;
    width: 100%;
}

.note_btn {
    width: 100%;
    margin-left: 0%;
    color: white;
    background-color: #262525;
}

.note_head {
    width: 100%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
}

.title {
    width: 100%;
    color: rgb(213, 194, 194);
    text-align: left;
    font-size: small;
}

.date {
    width: 80%;
    color: rgb(213, 194, 194);
    text-align: right;
    font-size: small;
}

.text {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
    color: white;
    text-align: left;
    font-size: small;
    font-weight: 200;
}

#note_close_button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(53, 184, 220);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#connect_button {
    background-color: aqua;
    color: black;
    padding: 10px;
    margin-left: 10px;
}

.content {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: block;
    margin: auto;
    color: white;
    background-color: black;
    width: calc(100% - 250px);
}

.swap-container {
    margin: auto;
    background-color: #262525;
    padding: 30px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.dropdown {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10%;
    background-color: black;
    color: white;
}

.group1 {
    width: 100%;
    margin-top: 10px;
    height: auto;
    border: #333;
    display: inline-block;
}

.dropdown1 {
    width: 30%;
    margin: 0%;
    padding: 10px;
    border-radius: 0%;
    background-color: black;
    color: white;
}

.input1 {
    width: 60%;
    margin: 0%;
    padding: 10px;
    border-radius: 0;
    background-color: black;
    color: white;
}

.dropdown2 {
    width: 100%;
    padding-left: 0px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0%;
    background-color: black;
    color: white;
}

.option_dropdown {
    margin: auto;
    margin-top: 10%;
    border: #262525;
    color: white;
    background-color: #262525;
}


#connect_button_ {
    width: 80%;
    background-color: aqua;
    color: black;
    padding: 10px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#term_button {
    width: 80%;
    border: #262525;
    background-color: #262525;
    color: aqua;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#balance {
    width: 80%;
    display: none;
    background-color: aqua;
    color: black;
    padding: 10px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}